{% extends 'admin/model/edit.html' %}

{% block head %}
  {{ super() }}
  {{ lib.form_css() }}
{% endblock %}

{% block body %}
  {% block navlinks %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="{{ return_url }}" class="nav-link">{{ _gettext('List') }}</a>
    </li>
    {%- if admin_view.can_create -%}
    <li class="nav-item">
        <a href="{{ get_url('.create_view', url=return_url) }}" class="nav-link">{{ _gettext('Create') }}</a>
    </li>
    {%- endif -%}
    <li class="nav-item">
        <a href="javascript:void(0)" class="nav-link active">{{ _gettext('Edit') }}</a>
    </li>
  </ul>
  <p></p>
  <ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="{{return_url}}edit/?id={{company.id}}&url=/admin/company/" class="nav-link">{{ company.symbol }}</a>
    </li>
    <li class="nav nav-item"><a href="" class="nav-link active">CEO</a></li>
    <li class="nav nav-item"><a href="{{ return_url }}{{company.id}}/financial" class="nav-link">Financial</a></li>
  </ul>
  <p></p>
  <ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="{{ return_url }}{{company.id}}/ceo" class="nav-link">{{ _gettext('List') }}</a>
    </li>
    {%- if admin_view.can_create -%}
    <li class="nav-item">
        <a href="{{return_url}}{{company.id}}/ceo/create" class="nav-link">{{ _gettext('Create') }}</a>
    </li>
    {%- endif -%}
    <li class="nav-item">
        <a href="{{return_url}}{{company.id}}/ceo/{{ceo.id}}/edit" class="nav-link active">{{ _gettext('Edit') }}</a>
    </li>
  </ul>
  <p></p>
  {% endblock %}

  {% block edit_form %}
    {{ lib.render_form(form, return_url + company.id|string + "/ceo", extra(), form_opts) }}
  {% endblock %}
{% endblock %}

{% block tail %}
  {{ super() }}
  {{ lib.form_js() }}
{% endblock %}